{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
       <strong>{{ msg }}</strong>
<div class="container p-3 my-3">
    <h3>Add Auction</h3>
    {% if error%}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {% endif %}

    <form action="/addauction/" class="text-justify" method="post">
        {% crispy form %}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>

</div>

<script>
       $(function () {
       $('.datetime-input').datetimepicker({
           format:'YYYY-MM-DD HH:mm:ss'
       });
   });
</script>


        <div class=" date input-group" id="datetimepicker_id_datetime">
            <input class=" form-control" id="id_datetime" name="datetime" type="text" required/>
        </div>

    <!--<script>(function () {-->
        <!--$(document).ready(function() {-->
        <!--$("#id_datetime").datetimepicker();-->
        <!--});-->
        <!--})(jQuery);-->
    <!--</script>-->
{% endblock %}


