{% load static %}
<html>
<head>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
<h1><a href="/home/" style="text-decoration: none; color: #D4F3B6">BidBidGo</a>
</h1>

<div style="text-align: left;">
    <h3></h3>
    <form action="/home/">
        <input class="boton" type="submit" value="Home" }>
    </form>
    <form action="/login/">
        <input class="boton" type="submit" value="Login">
    </form>
    <form action="/logout/">
        <input class="boton" type="submit" value="Logout">
    </form>
    <form action="/register/">
        <input class="boton" type="submit" value="Register">
    </form>
    <form action="/addauction/">
        <input class="boton" type="submit" value="AddAuction">
    </form>

</div>

<h3></h3>
<div style="text-align: right;">

    <form action="/search/" method="POST">
        {% csrf_token %}

        <input type="search" name='tit' title="tit" placeholder="title...">
        <input type="submit" value="Search">
    </form>
</div>


{% block content %}
{% endblock %}


</body>
</html>
