{% extends "base.html" %}

{% block content %}
<strong>{{ msg }}</strong>
{%  if not posts %}
<p>No auctions</p>
    {% endif %}
    {% for post in posts %}
    <a href="/auction/{{ post.id }}/"><h2>{{ post.title }}</h2></a>
<p>{{ post.description }}</p>
<font size="1">Base price: {{ post.base_price }} <br>
    Start_time: {{ post.start_time }}<br>
    End time: {{ post.end_time }}<br>
    Seller: {{ post.seller.username }}<br>
    Status: {{ post.status }}<br></font>
        <p id="demo"></p>
{% endfor %}
{% endblock %}

