{% extends "base.html" %}
{% load i18n %}


{% block content %}
    <div class="container">
    <div class="alert alert-danger" role="alert">
      {{ msg }}
        {{ error }}
    </div>

        <p><b></b></p>
          {% if form.errors%}
            <div class="alert alert-danger" role="alert">
              Credentials are not correct
            </div>
          {% endif %}

    <div class="row my-3">
        <H3 class="text-center text-dark rounded mx-auto">Log In</H3>
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <label class="vLargeTextField" for="username">{% trans "Username: " %}</label>
        <input class="form-control" type="text" name="username" value="" id="username">
        <label class="vLargeTextField" for="password">{% trans "Password: " %}</label>
        <input class="form-control" type="password" name="password" value="" id="password">

        <input class="my-3 btn btn-primary" type="submit" value={% trans "Submit" %}>
        <input type="hidden" name="next" value="loginpage">
    </form>


    </div>


{% endblock %}