<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<h1 id="user_name"></h1>
<h2 id="user_email"></h2>
<h3>Your Added Auctions</h3>
<div class="table-responsive">
    <table class="table">
        <xthead>
            <tr>
                <th>ProductName</th>
                <th>ProductLocation</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>BasePrice</th>
            </tr>
        </xthead>
        <tbody id="add_product_in_table">
        </tbody>
    </table>
</div>

<h3>Your Added Bids</h3>

<div class="table-responsive">
    <table class="table">
        <xthead>
            <tr>
                <th>ProductName</th>
                <th>ProductLocation</th>
                <th>BasePrice</th>
                <th>Amount</th>
                <th>is_winning</th>
            </tr>
        </xthead>
        <tbody id="add_bid_in_table">
        </tbody>
    </table>
</div>

<script>
    {#setInterval(receive, 1000);#}

    function user_detail() {
        $.get('http://127.0.0.1:8000/userlist/' +{{ user_id }}, function (user_data) {
                if (user_data.length !== 0) {
                    document.getElementById("user_name").innerHTML = user_data.username;
                    document.getElementById("user_email").innerHTML = user_data.email;

                }
            }
        )

    }


    function user_auction() {
        $.get('http://127.0.0.1:8000/auctionlist/', function (auctiondata) {
                if (auctiondata.length !== 0) {
                    for (i = 0; i < auctiondata.length; i++) {
                        var tr_node = document.createElement("tr");
                        if (auctiondata[i].seller_id == {{ user_id }}) {

                            var td_node_name = document.createElement("td");
                            var td_node_location = document.createElement("td");
                            var td_node_starttime = document.createElement("td");
                            var td_node_endtime = document.createElement("td");
                            var td_node_baseprice = document.createElement("td");

                            td_node_name.appendChild(document.createTextNode(auctiondata[i].title));
                            td_node_location.appendChild(document.createTextNode(auctiondata[i].location));
                            td_node_starttime.appendChild(document.createTextNode(auctiondata[i].start_time));
                            td_node_endtime.appendChild(document.createTextNode(
                                {#(auctiondata[i].end_time).slice(12, 16)#}
                                {#+ ' ' +#}
                                 (auctiondata[i].end_time).slice(9, 10) +
                                (auctiondata[i].end_time).slice(4, 5)  +
                                (auctiondata[i].end_time).slice(5, 7) +
                                (auctiondata[i].end_time).slice(4, 5)+
                                (auctiondata[i].end_time).slice(0, 4)));
                            td_node_baseprice.appendChild(document.createTextNode(auctiondata[i].base_price));
                            tr_node.appendChild(td_node_name);
                            tr_node.appendChild(td_node_location);
                            tr_node.appendChild(td_node_starttime);
                            tr_node.appendChild(td_node_endtime);
                            tr_node.appendChild(td_node_baseprice);
                            document.getElementById('add_product_in_table').appendChild(tr_node);
                        }
                    }

                }
            }
        )

    }

    var amounts = []
    var iswinning = []
    {% for bid in bid_list %}
        amounts.push({{ bid.amount}})
        iswinning.push({{ bid.iswinning }})
    {% endfor %}
    var product_name = []
    var product_location = []
    var product_baseprice = []

    {% for bid in auction_list %}
        product_baseprice.push({{ bid.base_price }})
        product_location.push('{{ bid.location }}')
        product_name.push('{{ bid.title }}')

    {% endfor %}

    function user_bid() {

        for (i = 0; i < amounts.length; i++) {
            var tr_node = document.createElement("tr");
            var td_node_name = document.createElement("td");
            var td_node_location = document.createElement("td");
            var td_node_baseprice = document.createElement("td");
            var td_node_amount = document.createElement("td");
            var td_node_iswinning = document.createElement("td");
            td_node_name.appendChild(document.createTextNode(product_name[i]));
            td_node_location.appendChild(document.createTextNode(product_location[i]));
            td_node_baseprice.appendChild(document.createTextNode(product_baseprice[i]));
            td_node_amount.appendChild(document.createTextNode(amounts[i]));
            td_node_iswinning.appendChild(document.createTextNode(iswinning[i]));

            tr_node.appendChild(td_node_name);
            tr_node.appendChild(td_node_location);
            tr_node.appendChild(td_node_baseprice);
            tr_node.appendChild(td_node_amount);
            {#console.log(td_node_iswinning)#}
            tr_node.appendChild(td_node_iswinning);
            document.getElementById('add_bid_in_table').appendChild(tr_node);

        }

    }

    window.onload = user_detail();
    window.onload = user_auction();
    window.onload = user_bid();
    {#window.onload = get_products();#}
</script>
</body>
</html>

