
a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}
.navbar{
    display: flex;
    background-color: grey;
    justify-content: space-between;
    color:white;
    width:100%;
}

.navbar-brand{
    color: white;
    font-size:xx-large;
}
.navbar-nav{
    display: flex;
}