.card{
    height: 600px;
    margin: 20px;
}
.card img{
    height:200px;

}

.bold {
    style: bold;
    font-size: large;
}

.grid-container {
    text-decoration: none;
    display: grid;
    grid-template-columns:minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr);
}

.product{
    background-color: red;
    display: grid;
}

@media only screen and (max-width:640px)  {
    .grid-container {
        text-decoration: none;
    display: grid;
    grid-template-columns:minmax(50px, 1fr) minmax(50px, 1fr);
}

}

.label-tag {
    font-size: large;
}